In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
import warnings
warnings.filterwarnings("ignore")
import talib as ta

In [2]:
data = yf.download("BAJAJFINSV.NS",start ="2005-1-1",end = "2021-12-1", interval = '1D').dropna()
dd = data.copy()

[*********************100%***********************]  1 of 1 completed

In [3]:
dd['Low1'] = dd['Low'].shift(1)
dd['High1'] = dd['High'].shift(1)
dd['Open1'] = dd['Open'].shift(1)
dd['Close1'] = dd['Close'].shift(1)

In [4]:
def shape(data):
    
    Open = data['Open']
    Close = data['Close']
    High = data['High']
    Low = data['Low']
    Low1 = data['Low1']
    High1 = data['High1']
    Open1 = data['Open1']
    Close1 = data['Close1']
    
    if (Open < Close and Open > Low):
        if (High == Open):
                #b = 10
                return 10
        if (High > Close):
                #a = 1
                return 1
            
    if (Open < Close and Low == Open):
        if (Close > Open):
                c=3
                return c
        if (High == Close):
                d = 7
                return d
    
    if (Open > Close):
        if (Close == Low):
            if (High == Open):
                e = 4
                return e
            if (High > Open):
                f = 6
                return f
        if (Close > Low):
            if (High == Open):
                g= 11
                return g
            if (High > Open):
                h = 13
                return h
                
                
    if (Open == Close):
        if (Open == Low):
            if (High > Close):
                i = 5
                return i
                
        if (High == Close):
            if (Low < Open):
                j = 8
                return j
                
        if (Close > Low):
            if (Open < High):
                k = 12
                return k
                
        
    if (Open == Close):
        if (High == Low):
            if (High > (High1+Close1)/2):
                l = 2
                return l
                
            if (Low <  (High1+Close1)/2):
                m = 9
                return m
            
            if (Open1 == Close1):
                if (Low1 == High1):
                    n= 14
                    return n

In [5]:
def position(data):
    
    Open = data['Open']
    Close = data['Close']
    High = data['High']
    Low = data['Low']
    Low1 = data['Low1']
    High1 = data['High1']
    Open1 = data['Open1']
    Close1 = data['Close1']
    
    if High > High1:
        if Low < Low1:
            if Close > Close1:
                return 1
            if Close < Close1:
                return 2
        if Low > Low1:
            if Close > Close1:
                return 3
            if Close < Close1:
                return 4
    if High < High1:
        if Low < Low1:
            if Close > Close1:
                return 5
            if Close < Close1:
                return 6
        if Low > Low1:
            if Close > Close1:
                return 7
            if Close < Close1:
                return 8

In [6]:
dd['Shape'] = dd.apply(shape, axis='columns')
dd["C_Position"] = dd.apply(position ,axis = 'columns')
dd.drop(['Low1','High1','Open1','Close1'],axis = 1,inplace = True)

In [7]:
x = dd.Shape.unique()
x

array([13., 11.,  1.,  3.,  9., 12., 14.,  6., nan,  4.,  2.,  8.])

In [8]:
alpha= pd.get_dummies(dd.Shape)
beta = pd.get_dummies(dd.C_Position)

In [9]:
alpha

            1.0   2.0   3.0   4.0   6.0   8.0   9.0   11.0  12.0  13.0  14.0
Date
2005-01-03     0     0     0     0     0     0     0     0     0     1     0
2005-01-04     0     0     0     0     0     0     0     1     0     0     0
2005-01-05     0     0     0     0     0     0     0     0     0     1     0
2005-01-06     0     0     0     0     0     0     0     0     0     1     0
2005-01-07     1     0     0     0     0     0     0     0     0     0     0
...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
2021-11-24     0     0     0     0     0     0     0     0     0     1     0
2021-11-25     1     0     0     0     0     0     0     0     0     0     0
2021-11-26     0     0     0     0     0     0     0     0     0     1     0
2021-11-29     1     0     0     0     0     0     0     0     0     0     0
2021-11-30     0     0     1     0     0     0     0     0     0     0     0

[4171 rows x 11 columns]

In [10]:
ShapeEnc = pd.DataFrame()

for i in range(1,15):
    ShapeEnc[i] = 0
    
for i in x:
    if i > 0:
        ShapeEnc[i] = alpha[i]

ShapeEnc = ShapeEnc.astype(np.float)

ShapeEnc = ShapeEnc.fillna(0)

In [11]:
C_PositionEnc = beta.dropna()
C_PositionEnc

            1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0
Date
2005-01-03    0    0    0    0    0    0    0    0
2005-01-04    0    0    0    0    0    0    0    1
2005-01-05    0    0    0    0    0    1    0    0
2005-01-06    0    0    0    0    0    1    0    0
2005-01-07    0    0    0    0    0    0    1    0
...         ...  ...  ...  ...  ...  ...  ...  ...
2021-11-24    0    0    1    0    0    0    0    0
2021-11-25    0    0    0    0    0    0    0    1
2021-11-26    0    0    0    0    0    1    0    0
2021-11-29    0    0    0    0    1    0    0    0
2021-11-30    0    0    1    0    0    0    0    0

[4171 rows x 8 columns]

In [12]:
ShapeEnc

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
Date,,,,,,,,,,,,,,
2005-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2005-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2005-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2005-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2005-01-07,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2021-11-25,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-11-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2021-11-29,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-11-30,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
Enc = ShapeEnc.join(C_PositionEnc, how = 'left', lsuffix='-Shape', rsuffix='-CandlePos')
Enc

,1-Shape,2-Shape,3-Shape,4-Shape,5-Shape,6-Shape,7-Shape,8-Shape,9,10,...,13,14,1.0-CandlePos,2.0-CandlePos,3.0-CandlePos,4.0-CandlePos,5.0-CandlePos,6.0-CandlePos,7.0-CandlePos,8.0-CandlePos
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0,0,0,0,0,0,0,0
2005-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0,0,0,0,0,1
2005-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0,0,0,0,0,1,0,0
2005-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0,0,0,0,0,1,0,0
2005-01-07,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0,0,1,0,0,0,0,0
2021-11-25,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0,0,0,0,0,1
2021-11-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0,0,0,0,0,1,0,0
2021-11-29,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0,0,1,0,0,0
2021-11-30,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,1,0,0,0,0,0